/*LANDING PAGE CSS BEGINS*/

* {
  margin: 0;
  padding: 0;
}

.mainTxt h1{

  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 5s steps(30, end),
    blink-caret .5s step-end infinite;

}


@keyframes typing {
  from { width: 0 }
  to { width: 30% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

.userCont{
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
}

.loginTxt{
  padding-right: 10px;
}

.regTxt{
  padding-right: 10px;
}

.spacesCont {
  display: flex;
  justify-content: center;
  /*margin: 0 auto;*/
  /*position: relative;*/
  margin-top: 200px;

  /*justify-content: space-between;*/
}

.artTxt {
  padding-right: 20px;
  /*border-right: 1pt solid black;*/
  transition: all .2s ease-in-out;
  font-size: 24px;

}

.artTxt:hover {
  transform: scale(1.1);

}

.photoTxt {
  padding-right: 20px;
  /*border-right: 1pt solid black;*/
  padding-left: 20px;
  transition: all .2s ease-in-out;
  font-size: 24px;
}

.photoTxt:hover{
  transform: scale(1.1);
  /*padding: 10px;*/
  /*padding-left: 10px;
  padding-right: 10px;*/
}

.filmTxt{
  padding-left: 20px;
  transition: all .2s ease-in-out;
  font-size: 24px;
}

.filmTxt:hover {
  transform: scale(1.1);
}

/*.borderOne {
  border-right: 1pt solid black;
}

.borderTwo {
  border-right: 1pt solid black;
}*/
/*LANDING PAGE CSS ENDS*/


/*LOGIN CSS STARTS*/

.loginFormCont {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: auto;
  margin-top: 150px;
  position: relative;
  /*box-shadow: inset -1px 2px 33px rgba(0, 0, 0, .3);*/
  box-shadow: 0 0 24px 3px rgba(0, 0, 0, .1);
  border-radius: 15px 50px 30px;
}

.loginForm {

  /*margin-top: 50px;
  padding-top: 80px;*/
  /*justify-content: center;*/
  /*margin: auto;*/
  /*width: 400px;
  height: 400px;*/
  /*background: transparent;
  position: relative;*/
  /*background: rgba(255, 255, 255, .3);*/
  /*box-shadow: inset -1px 2px 33px rgba(0, 0, 0, .3);*/
  /*box-shadow: 0 0 24px 3px rgba(255, 185, 183, .1);*/
  /*border-radius: 4px;*/


  /*display: flex;*/
  /*text-align: center;*/

}

.loginInput {
  border-radius: 6px;
}

.loginFormTxt{
  font-size: 28px;
  padding-bottom: 20px;
}

.loginLabelTxt {
  font-size: 22px;
}



/*LOGIN CSS ENDS*/

/*REGISTER CSS BEGINS*/
.registerFormCont{
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
  text-align: center;
  margin: auto;
  /*flex-wrap: wrap;*/
  margin-top: 150px;
  position: relative;
  /*box-shadow: inset -1px 2px 33px rgba(0, 0, 0, .3);*/
  box-shadow: 0 0 24px 3px rgba(0, 0, 0, .1);
  border-radius: 15px 50px 30px;
}
.regFormTxt{
  font-size: 28px;
}
.regForm{
  margin-top: 30px;
}

.regInput{
  border-radius: 6px;
}

.regButton {
  padding-top: 10px;
}

.regLabelTxt {
  font-size: 22px;
}




/*REGISTER CSS ENDS*/






















/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
